// ======== FONTS ========
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Amatic+SC&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: thistle;
    font-family: 'Alex Brush', cursive;
}