.heading {
    /* font-family: 'Poiret One', cursive; */
    font-family: 'Almarai', sans-serif;
    margin-left: 1rem;
    font-size: 48px;
}
.bio {
    display: flex;
    justify-content: space-between;
    margin-bottom: -15rem;
}
.text {
    width: 85%;
    padding: 1rem 2rem 1rem 1rem;
}
.img {
    width: 100%;
}

@media only screen and (max-width: 460px) {
    .heading {
        font-size: 32px;
    }
    p {
        font-size: 12px;
    }
}