/* ======== FONTS ======== */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Bad+Script');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem 4rem;
    /* background-color: rgba(143, 247, 118, 0.151); */
    background: linear-gradient(0deg, rgba(248,249,251,0) 10%, rgba(101,177,81,0.2) 100%);
    /* width: 100%; */
}
.title {
    margin-left: 1rem;
}
.title h1 a{
    text-decoration: none;
    color: rgb(16, 105, 16);
    text-shadow: rgb(142, 206, 142) 1px 1px;
    /* mix-blend-mode: multiply; */
    font-family: 'Merriweather', serif;
    font-size: 48px;
}
.title p {
    font-family: 'Bad Script', cursive;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 500;
}
.nav-bar {
    margin-right: 3px;
}
.nav-bar ul{
    list-style-type: none;
    /* display: flex; */
}
.link {
    text-decoration: none;
    font-weight: 600;
    font-family: 'Merriweather', serif;
}
.link:hover {
    color: white;
    text-shadow: gray 1px 2px;
}
.active-link {
    color: rgb(172, 170, 65);
    text-shadow: rgb(238, 238, 39) 1px 1px;
}

@media only screen and (max-width: 460px) {
    .title h1 a {
        font-size: 36px;
    }
    .title p {
        font-size: 19px;
    }
}
